body{
    background-image: url("https://johnsnyderdpt.files.wordpress.com/2016/01/books-1.jpg");
}
img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.txt{
    background: #b49fed;
    padding: 1em;
    border-radius: 20px;
    margin: 0 auto 50px;
    width: 700px;
    color: white;
    text-align: left;
}

