* {
    box-sizing: border-box;
}

html{ height:100%; }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    min-height:100%;
    position: relative;
    margin: 0;
    padding: 0;
}

table {
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #b49fed;
    margin: 50px auto;
    border-radius: .25rem;
}

thead tr:first-child {
    background: #b49fed;
    color: #fff;
    border: none;
}

th {
    text-align: center;
    padding: 0 10px 0 10px;
    font-weight: 500;
}

td{
    padding: 0 15px 0 15px;
}

thead tr:last-child th {
    border-bottom: 4px solid #ddd;
}

tbody tr:hover {
    background-color: #e7deff;
    cursor: default;
}


tbody tr td {
    text-align: center;
    border: none;
}

tbody tr:nth-last-child(n+2) td{
    border-bottom: 1px solid #ddd;
}

td:nth-last-child(-n+2){
    text-align: right;
    padding-right: 10px;
}


.button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
}

.edit:hover {
    color: #0a79df;
}

.delete:hover {
    color: #dc2a2a;
}

.header {
    padding: 60px;
    text-align: center;
    background: #7852FF;
    color: white;
    font-size: 30px;
}

.interact {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonGreen {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.buttonGreen:hover {
    background-color: #4CAF50;
    color: white;
}
.buttonBlue {
    background-color: white;
    color: black;
    border: 2px solid blue;
}

.buttonBlue:hover {
    background-color: blue;
    color: white;
}

.buttonRed {
    background-color: white;
    color: black;
    border: 2px solid red;
}

.buttonRed:hover {
    background-color: red;
    color: white;
}

.row{
    display: flex;
    justify-content: center;
}

.pre-row{
    height: 150px;
}

.footer{
    background-color: #7852FF;
    color: white;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 0px auto;
    padding: 0px 16px 60px 16px;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="reset"],
.form-style-6 input[type="button"]{
    width: 100px;
    font-size: 16px;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #7852FF;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="reset"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}

.mar{
    margin-left: 84px;
}

#toMain{
    padding: 10px;
    font-size: 4rem;
    color: white;
}

